* {
	font-family: Avenir, Arial, Helvetica, sans-serif;
}
body {
	height: 100vh;
	width: 100vw;
}
.main {
	min-height: 90%;
}
.dropdown-lang {
	cursor: pointer;
}

.carousel-item {
	max-height: 400px;
}
.carousel-img {
	width: 100%;
	object-fit: contain !important;
	object-position: bottom bottom !important;
}

.footer {
	background-color: #343a40;
	color: #fff;
}

.footer a {
	text-transform: uppercase;
}
